<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
    <script src="../js/Vue3.js"></script>
    <title>PROPS EN  VUE</title>
</head>
<body>
    <header>
		<h1>PROPS EN VUE</h1>
    </header>
    
    <section id="seccion">
      <article>
        <table>
          <tr>
            <th colspan="4"> Frutas:</th>
          </tr>
          <tr v-for="(fruta,index) in frutas" :class="{fondo:fruta.nombre}">
            <td>
              <button @click="fruta.cantidad++">+</button>
              <input type="text" v-model="fruta.cantidad">
              <button @click="fruta.cantidad--" :disable="frutas.cantidad==0">-</button>
            </td> 
            <td>{{fruta.nombre}}</td>
            <td>$ {{fruta.precio}}</td>
            <td v-if="fruta.cantidad > 0"> $ {{montoFruta(index)}}</td>
          </tr>
          <tr>
            <td colspan="3" id="titulos">
              <h4>Subtotal:</h4>
              <h4>IVA:</h4>
              <h4>Total:</h4>
            </td>
            <td id="totales">
              <h4>{{ calcularSubtotal }}</h4>
              <h4>{{ calcularIva }}</h4>
              <h4>{{ calcularTotal }}</h4>
          </td>
          </tr>
        </table>
      </article>
      <!-- Segunda sección para agregar frutas -->
      <fieldset class="col-6">
        <legend>Nueva Fruta</legend>
        Nombre: <input v-model="nuevaFruta" type="text">
        <br>
        Cantidad: <input v-model.number="nuevaCantidad" type="number">
        <br>
        Precio: <input v-model.number="nuevoPrecio" type="number">
        <button @click="agregar()">Agregar</button>
      </fieldset>

    </section>

    <script src="../js/script.js"></script>
</body>
</html>

